<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Item</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="/scripts/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Syncopate|Contrail+One|Strait' rel='stylesheet' type='text/css'>
    <script src="/scripts/apps.js"></script>
  </head>
  <body>
    <header>
      <a class="logout" href="/users/logout">Logout</button></a>
      <img class="registerLogo" src="/images/logo-final.png" alt=""/>
    </header>

    <h1 class="signup">Create Item</h1>
    <!-- Enter dropdown menu for the category -->
    <div class="container">
      <p class="signup2">Click on the dropdown button to select your category.</p>


    <div class="dropdown btn-group">
     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="menu1">Categories<span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
       <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='1'>Sporting Goods</a></li>
       <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='3'>Home Goods</a></li>
       <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='4'>Books</a></li>
       <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='2'>Electronics</a></li>
       <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='5'>Other</a></li>
       <li class="catdrop" role="presentation" class="divider"></li>
     </ul>
   </div><br>

    <div class="itemform">

      <form class="itemsform" action="/items/create" method="post">

        <div class="radios">
        <input type='radio' name='has_item'> have
        <input type='radio' name='wants_item'> want
        </div>
        <input id="category-hidden" type="hidden" name="category" value="">
        <input class="itemsform1" type="text" name="title" placeholder="Title">
        <input class="itemsform2" type="text" name="description" placeholder="Description">
        <input class="itemsform3" type="text" name="color" value="" placeholder="color">
        <input class="itemsform4" type="text" name="size" value="" placeholder="size">
        <input class="itemsform5" type="text" name="condition" value="" placeholder="condition">
        <input class="itemsform6" type="text" name="location" value="" placeholder="location">
        <input class="form7" type="submit" value="Create Item">

        </form>
    </div><br>
</body>
</html>
