<h2>Here is your List!</h2>

<h1>Wish List</h1>

<li><a href='/items/create'>Create Item</a></li>

<h2>THIS SHOULD WORK!</h2>

<button type="button" name="logout"><a href="/users/logout">Logout</button></a>
