<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WishList</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Syncopate|Contrail+One|Strait' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <a class="logout" href="/users/logout">Logout</button></a>
      <img class="registerLogo" src="/images/logo-final.png" alt=""/>
    </header>

    <h2 class="signup"> <%=@user_name%> </h2>
    <a class="form6" href='/items/create'>create new item</a>
    <div class="formbox1">
      <h2 class="signup">wants</h2>
      <div class="wantsbox">





      </div>

      <h2 class="signup">haves</h2>
      <div class="havesbox"></div>

      <h2 class="signup">matches</h2>
      <div class="matchesbox"></div>



    </div>
  </body>
</html>
