<h1>Create Item</h1>

<form action="" method="post">

  <input type="text" name="name" placeholder="Your name?">
  <input type="text" name="email" placeholder="you@aol.com">

  <input type="submit" value="Create Item">

</form>
