
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WishList</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Syncopate|Contrail+One|Strait' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <img class="registerLogo" src="/images/logo-final.png" alt="" />
    </header>

    <h4 class="signup">404</h3>

    <p class="signup2">Something isn't where it should be! could be me, could be you!</p>



    <footer class="footer">
    <h4 class="footertag">&copy WishList is a Registered trademark 2015</h4>
    </footer>

  </body>
</html>
