<h3>Register</h3>

<p>
  Welcome! Please register an account!
</p>

<form action="/users/register" method="post">
  <input type="text" name="user_name" placeholder="username" required>
  <input type="email" name="user_email" placeholder="myself@somewhere.org" required>
  <input type="password" name="password" placeholder="Your password" required>
  <input type="submit" value="Register Account" required>
</form>
