* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
}

.photo {
  width: 100%;
  z-index:0;
  opacity: .7;
  padding: -1px;
  margin-top:;
  margin-bottom: 0%;
}

.derphoto {
  background-color: white;
  width: 100%;
  z-index:0;
  margin-bottom: -33%;
}

.logophoto {
  position: absolute;
  opacity: 2.;
  width: 50%;
  height: auto;
  margin-left: 26%;
  margin-bottom: 20%;
  display: none;
}

.want {
  font-size: 2vw;
  color: black;
  opacity: .52;
  position: absolute;
  font-family: Syncopate;
  margin-left: 33%;
  margin-top: 18%;
  text-decoration: underline;
  display: none;
}

.button1:hover {
  background-color: rgba(76, 76, 76, 1);
}

.button2:hover {
  background-color:rgba(76, 76, 76, 1);
}

.button1 {
  background-color: gray;
  font-family: Strait;
  color: white;
  font-size:1.5vw;
  margin-top: 35%;
  margin-bottom: 7%;
  width: 40%;
  margin-left: 5%;
  margin-right:5%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
}

.button2 {
  background-color: gray;
  font-family: Strait;
  color: white;
  font-size: 1.5vw;
  margin-top: 35%;
  margin-left:1%;
  margin-right: 5%;
  width: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid 0;
}

/*BELOW IS THE CSS FOR USERS_REGISTER.ERB*/

.registerLogo {
  width: 50%;
  height: auto;
  margin-left: 28.5%;
}

.signup {
  color: rgb(227, 73, 73);
  font-family: Strait;
  text-align: center;
  font-size: 4vw;
  padding-top: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.signup2 {
  color: rgb(227, 73, 73);
  font-family: Strait;
  text-align: center;
  margin-bottom: 6%;
}

.formbox {
  width: 40%;
  height: auto;
  background-color: rgba(19, 0, 0, 0.05);
  margin-left: 30%;
  margin-bottom: 10%;
}

.form1 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left:5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border: none;
}

.form2 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 90%;
  margin-bottom: 4%;
  margin-left:5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border: none;
}

.form3 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 90%;
  margin-bottom: 4%;
  margin-left:5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border: none;
}

.form4 {
  font-size: 1.5vw;
  background-color: rgb(227, 73, 73);
  color: white;
  font-family: Strait;
  width: 90%;
  margin-bottom: 5%;
  margin-left:5%;
  border: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form4:hover {
  background-color:rgba(76, 76, 76, 1);
}

.form6:hover {
  background-color:rgba(76, 76, 76, 1);
}

/*.form5 class for erb error & login success messages*/

.form5 {
  text-align: center;
  font-size: 1.5vw;
  background-color: rgb(227, 73, 73);
  color: white;
  font-family: Strait;
  width: 30%;
  margin-top:;
  margin-bottom: 5%;
  margin-left:43%;
  border: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

/*CSS for index.erb*/

.formbox1 {
  width: 60%;
  height: 120%;
  background-color: rgba(19, 0, 0, 0.05);
  margin-left: 20%;
  margin-bottom: 10%;
}

.logout {
  position: absolute;
  text-align: center;
  font-size: 1em;
  background-color: rgb(227, 73, 73);
  color: white;
  font-family: Strait;
  width: 7em;
  top: .5em;
  right: .5em;
  border: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.logout:hover {
  background-color:rgba(76, 76, 76, 1);
}

.form6 {
  text-align: center;
  font-size: 1.5vw;
  background-color: rgb(227, 73, 73);
  color: white;
  font-family: Strait;
  width: 60% ;
  margin-top:-2%;
  margin-bottom: 5%;
  margin-left:42.6%;
  border: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.form7 {
  text-align: center;
  font-size: 1.5vw;
  background-color: rgb(227, 73, 73);
  color: white;
  font-family: Strait;
  width: 60%;
  margin-top:3%;
  margin-bottom: 5%;
  margin-left:20%;
  border: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.form8 {
  text-align: center;
  font-size: 1.5vw;
  background-color: rgb(227, 73, 73);
  color: white;
  font-family: Strait;
  width: 60%;
  margin-top:3%;
  margin-bottom: 5%;
  margin-left:39%;
  border: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.form7:hover {
  background-color: rgba(76, 76, 76, 1);
}

.wantsbox {
  width: 70%;
  background-color: white;
  height: auto;
  margin-left: 15%;
}

.havesbox {
  width: 70%;
  background-color: white;
  height: auto;
  margin-left: 15%;
}

.matchesbox {
  width: 70%;
  background-color: white;
  height: auto;
  margin-left: 15%;
  margin-bottom: 25%;
}

/*CSS FOR CREATE NEW ITEM*/

.itemsform {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 10%;
  background-color: rgba(19, 0, 0, 0.05);

}

.itemform {
  display: none;
}

.btn {
  margin-left: 25%;
  margin-bottom: -10%;
}

.itemsform1 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-left: 20%;
  margin-bottom: 2%;
  margin-top: 5%;
}

.itemsform2 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-left: 20%;
  margin-bottom: 2%;
}

.itemsform3 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-left: 20%;
  margin-bottom: 2%;
}

.itemsform4 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-left: 20%;
  margin-bottom: 2%;
}

.itemsform5 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-left: 20%;
  margin-bottom: 2%;
}

.itemsform6 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-left: 20%;
  margin-bottom:5%;
}

.radio1 {
  font-family: Strait;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 50%;
}

.radio2 {
  font-family: Strait;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.radios {
  font-family: Strait;
  font-size: 1.8vw;
  color: gray;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: -5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#menu1 {
  font-size: 1.5vw;
  font-family: Strait;
  width: 263%;
  height:;
  background-color: rgb(227, 73, 73);
  border: none;
  border-radius: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  margin-left: 31%;
  margin-bottom: 10%;
  margin-top: -45%;
}

#menu1:hover {
  background-color:rgba(76, 76, 76, 1);
}

.dropdown {
   margin-left: 35%;
 }

.open>.dropdown-menu {
  background-color: rgb(227, 73, 73);
  color: white;
  display: block;
  margin-left: 70%;
  margin-top: -11%;
  font-family: Strait;
  font-size: 1.5vw;
}

table {
  padding: 30px;
  width: 100%;
  font-family: Strait;
  font-size: 1.5vw;
  text-align: left;
  color: gray;
}

.footer {
  width: 100%;
  height: 10%;
  background-color: rgb(227, 73, 73);
  bottom: 0;
  margin-top: 1em;
}

.footertag {
  font-size: 1.5vw;
  font-family: Strait;
  padding-top: 1%;
  padding-bottom:;
  margin-left: 1%;
  margin-bottom:;
  color: white;
  opacity: .6;
}
