* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: auto;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
}

/*BELOW IS CSS FOR WELCOME PAGE*/
/*.welcometext {
  font-family: Syncopate;
  font-size: 2vw;
  color: gray;
  margin-top: 17%;
  margin-bottom:-20px;
  margin-left: 2%;
  z-index:99;
  position: absolute;
  /*display: none;*/
/*}*/


/*BELOW IS TWO LINES FOR WELCOME PAGE, MAYBE WON'T USE*/
/*.lines{
  background-color: rgb(241, 54, 54);
  height: 1px;
  width: 100%;
  border: solid 1px rgb(241, 54, 54);
  opacity: .3;
  position: absolute;
  margin-left:;
  margin-top: 19%;
}

.lines1{
  background-color: rgb(241, 54, 54);
  height: 1px;
  width: 100%;
  margin-bottom:-100px;
  border: solid 1px rgb(241, 54, 54);
  opacity: .3;
  position: absolute;
  margin-left:;
  margin-top: 43%;
}*/

.photo {
  width: 100%;
  z-index:0;
  opacity: .6;
  padding: -1px;
  margin-top:;
  margin-bottom: 0%;
}

.derphoto {
  background-color: white;
  width: 100%;
  z-index:0;
  margin-bottom: -33%;
}

.logophoto {
  position: absolute;
  opacity: 2.;
  width: 50%;
  height: auto;
  margin-left: 26%;
  margin-bottom: 20%;
}

  .want {
    color: black;
    opacity: .5;
    position: absolute;
    font-family: Syncopate;
    margin-left: 33%;
    margin-top: 18%;
    text-decoration: underline;

  }

.button1 {
  background-color: gray;
  font-family: Strait;
  color: white;
  font-size:2vw;
  margin-top: 35%;
  margin-bottom: 5%;
  width: 40%;
  margin-left: 5%;
  margin-right:5%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
}

.button2 {
  background-color: gray;
  font-family: Strait;
  color: white;
  font-size: 2vw;
  margin-top: 35%;
  margin-left:1%;
  margin-right: 5%;
  width: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid 0;
}

/*BELOW IS THE CSS FOR USERS_REGISTER.ERB*/

.registerLogo {
  width: 50%;
  height: auto;
  margin-left: 27%;
}
.signup{
  color: rgb(227, 73, 73);
  font-family: Strait;
  text-align: center;
  font-size: 4vw;
}

.formbox {
  width: 40%;
  height: auto;
  background-color: rgba(19, 0, 0, 0.05);
  margin-left: 30%;
}

.form1 {
  font-size: 2vw;
  font-family: Strait;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left:5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border: none;
}

.form2 {
  font-size: 2vw;
  font-family: Strait;
  width: 90%;
  margin-bottom: 4%;
  margin-left:5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border: none;
}

.form3 {
  font-size: 2vw;
  font-family: Strait;
  width: 90%;
  margin-bottom: 4%;
  margin-left:5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border: none;
}

.form4 {
  font-size: 2vw;
  background-color: rgb(227, 73, 73);
  color: white;
  font-family: Strait;
  width: 90%;
  margin-bottom: 5%;
  margin-left:5%;
  border: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
